.img1, .img2 {
    width: 250px;
    height: 250px;

}
.img3{
    width: 100px;
    height: 150px;
    margin-left: 10px;
}

.topnav{
    display: flex;
    gap: 1400px;
    margin: 10px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-color: yellow;
  min-height: 10px;
}

#button{
    margin: 20px;
  	margin-top; 30px;
  	display: flex;
    padding-top: 30px;
}
}

.container1 {
  position: static;
  text-align: left;
  margin: 20px;
  width: auto;
}

.container2 {
  position: static;
  text-align: right;
  margin: 20px;
  width: auto;
}

div#produtos_carrinho{
    background-color: #ffb84d;
    margin-bottom: 50px;
    text-align: center;
}

.carrinho{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.produtos{
    display: flex;
    gap: 40px;
}

#titulo_carrinho{
    padding-bottom: 30px;
}

p{
    font-family: Helvetica;
}

.addCarrinho{
    background-color: green;
    color: white;
}

.excluir{
   background-color: red;
    color: white;
}

footer{
    text-align: center;
}

#shop{
  cursor: pointer;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;

}
#shop:hover {
  background-color: #ffb84d;
  color: white;
}